// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
@import "cocktails";

.container-title {
  color: white;
  display: flex;
  background-size: cover;
  background-position: center;
}

#site-title {
  font-family: 'Lobster', cursive;
  font-size: 120px;
  color: #fff3e5;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
}

body {
  font-family: 'Arimo', sans-serif;
  background-color: #fff3e5;
}

.btn-holder {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-btn a {
  font-family: 'Arimo', sans-serif !important;
  background-color: #fff3e5;
  font-size: 20px !important;
  padding: 16px 25px;
  margin: 15px auto;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  display: block;
  color: #1F213A !important;
}

a {
  text-decoration: none !important;
  color: #fff3e5;
  font-family: 'Lobster', cursive;
  font-size: 35px;
}

.text-center {
  color: #1F213A;
}

.container {
  display: flex;
  justify-content: center;
}

.card {
  margin: 20px;
}
