// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
@import "cocktails";

.container-title {
  color: white;
  display: flex;
  background-size: cover;
  background-position: center;
}

#site-title {
  font-family: 'Lobster', cursive;
  font-size: 120px;
  color: white;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
}

body {
  font-family: 'Arimo', sans-serif;
}

.btn-primary {
  color: #fff;
  background-color: #1C1C38;
  border-color: #1C1C38;
}

.btn-holder {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-btn {
  background-color: #1C1C38;
  padding: 16px 25px;
  margin: 15px auto;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  display: block;
}
